html,
body{
    margin: 0;
    padding: 0;
}

ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
}

.has-bg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.image-group .image-item .image{
    display: block;
    width: 100%;
    max-width: 100%;
}

.image-item{
    height: 100%;
    min-height: 250px;
}